.fullscreen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.canvas-container {
  flex: 1 1 0;
  min-height: 0;
  user-select: none;
}

.canvas {
  image-rendering: pixelated;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;
}

.labeled-input {
  display: contents;
}

.sidebar {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 0.5rem;
  gap: 0.5rem;
  max-height: 100%;
  overflow-y: auto;
  transition: translate 250ms;
  scrollbar-color: #5558 transparent;

  &:not(.show) {
    translate: -100%;
  }
}

.var-input-type {
  border-radius: 0.25rem;
  color: currentColor;
  background-color: #222;
  outline: none;
  border: 1px solid #333;
  margin: 0;
  padding: 0.25rem;

  &:hover,
  &:focus-within {
    color: white;
  }
}

.load-image-type {
  display: none;
  padding: 1rem;
}

.add-flame-card.add-flame-card {
  display: flex;
  padding: 0;
  align-items: stretch;
  flex-direction: column;

  &:hover {
    background: none;
  }
}

.add-flame-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  height: 4rem;
  padding: 1rem;
  color: currentColor;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: white;
  }

  & > svg {
    height: 24px;
  }
}

.delete-flame-button {
  border: none;
  border-radius: 100vh;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
