.layout {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar viewport'
    'sidebar viewport-controls';
  overflow: hidden;
  background-color: black;

  /* Start a stacking context so canvas doesn't go behind body */
  isolation: isolate;
}

.canvas-container {
  grid-area: viewport;
  grid-row-end: viewport-controls;
  overflow: hidden;
  z-index: -1;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;

  &:not(.fullscreen) {
    /* allow canvas fade to go under the sidebar a bit */
    margin-left: -0.4rem;
  }
}

.canvas {
  image-rendering: pixelated;
}

.viewport-controls {
  grid-area: viewport-controls;
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.labeled-input {
  display: contents;
}

.sidebar {
  grid-area: sidebar;
  width: 26rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-color: #5558 transparent;
}

.var-input-type {
  border-radius: 0.25rem;
  color: currentColor;
  background-color: #222;
  outline: none;
  border: 1px solid #333;
  margin: 0;
  padding: 0.25rem;

  &:hover,
  &:focus-within {
    color: white;
  }
}

.button-card.button-card {
  display: flex;
  padding: 0;
  align-items: stretch;
  flex-direction: column;

  &:hover {
    background: none;
  }
}

.add-flame-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  height: 4rem;
  padding: 1rem;
  color: currentColor;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: white;
  }

  & > svg {
    height: 24px;
  }
}

.delete-flame-button {
  border: none;
  border-radius: 100vh;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.background-color-picker {
  border: 2px solid #333;
  border-radius: 0.5rem;
  padding: 0;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }

  &:focus {
    border-color: #555;
  }
}
