.help-modal {
  width: 30rem;
}

.section-title {
  margin-bottom: calc(-1 * var(--space-2));
}

.shortcuts-grid {
  --row-even-bg-color: transparent;
  --row-odd-bg-color: var(--neutral-50);

  [data-theme='dark'] & {
    --row-odd-bg-color: var(--neutral-900);
  }
}

.shortcuts-grid {
  display: grid;
  font-size: smaller;
  grid-template-columns: auto auto;
  align-items: stretch;

  & > :where(:nth-child(2n + 1)) * {
    background-color: var(--row-even-bg-color);
  }

  & > :where(:nth-child(2n)) * {
    background-color: var(--row-odd-bg-color);
  }
}

.shortcut-row {
  display: contents;
}

.shortcut-description {
  display: flex;
  align-items: center;
  color: var(--neutral-500);
  padding-left: var(--space-3);
}

.key-combinations {
  display: flex;
  padding: var(--space-2);
  gap: var(--space-2);
}

.key-combination {
  --color: var(--neutral-600);
  --bg-color: var(--neutral-100);
  --shadow-color: var(--neutral-300);

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --bg-color: var(--neutral-800);
    --shadow-color: black;
  }
}

.key-combination {
  color: var(--color);
  background-color: var(--bg-color);
  border-radius: var(--space-1);
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
  box-shadow: 0 2px 2px var(--shadow-color);
}

.gpu-information {
  font-size: small;
  color: var(--neutral-500);
  padding-inline-start: var(--space-3);
}

.github-link {
  --color: var(--neutral-700);
  --color-hover: black;

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --color-hover: white;
  }
}

.github-link {
  display: flex;
  gap: var(--space-2);
  color: var(--color);

  &:hover {
    color: var(--color-hover);
  }

  & > svg {
    display: inline;
    width: 1.5rem;
    fill: currentColor;
  }
}
