.color-picker {
  border: 2px solid;
  border-radius: var(--space-2);
  padding: 0;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }

  border-color: var(--neutral-300);
  &:hover,
  &:focus {
    border-color: var(--neutral-500);
  }

  [data-theme='dark'] & {
    border-color: var(--neutral-800);
    &:hover,
    &:focus {
      border-color: var(--neutral-600);
    }
  }
}
