.color-picker {
  border: 2px solid;
  border-radius: 0;
  padding: 0;
  width: 3rem;
  height: 1.5rem;
  justify-self: end;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }

  &.transparent::-webkit-color-swatch {
    display: none;
  }

  border-color: var(--neutral-300);
  &:hover,
  &:focus {
    border-color: var(--neutral-500);
  }

  [data-theme='dark'] & {
    border-color: var(--neutral-800);
    &:hover,
    &:focus {
      border-color: var(--neutral-600);
    }
  }
}
