.label {
  display: contents;

  &:hover,
  &:focus-within {
    color: white;
  }
}

.name {
  justify-self: end;
}

.value {
  justify-self: end;
  font-variant-numeric: tabular-nums;
}

.track {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100vh;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  rotate: calc(-1 * var(--angle));
}

.line {
  position: absolute;
  top: 50%;
  height: 2px;
  width: 28px;
  background: linear-gradient(to right, transparent, currentColor 50%);
  left: 50%;
  translate: 0 -50%;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: currentColor;
  border-radius: 100vh;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
