.content {
  --color: #aaa;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  align-items: center;
  justify-items: stretch;
  padding: 1rem;
  gap: 1rem;

  color: var(--color);
  background-color: #080808;
  border: 0.16rem solid #161616;
  border-radius: 1.2rem;

  font-variant-numeric: tabular-nums;
  font-size: 14px;

  /* required for delete button to position absolutely */
  position: relative;
}
