.root {
  isolation: isolate;
  contain: strict;
}

.modal {
  --text-color: var(--neutral-700);
  --bg-color: white;
  --border-color: var(--neutral-200);

  [data-theme='dark'] & {
    --text-color: var(--neutral-400);
    --bg-color: var(--neutral-950);
    --border-color: var(--neutral-700);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--border-color);
  white-space: break-spaces;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: auto;
  view-transition-name: modal;
  opacity: 0;
  animation: fade-in 400ms forwards;
  outline: none;
}

::backdrop {
  backdrop-filter: contrast(50%) blur(10px);
  opacity: 0;
  animation: fade-in 400ms forwards;
}
