.label {
  display: contents;
  color: var(--color);

  &:hover,
  &:focus-within {
    --color: white;
  }
}

.value {
  justify-self: end;
  font-variant-numeric: tabular-nums;
}

.slider {
  appearance: none;
  background: transparent;
  outline: none;
  position: relative;
  accent-color: var(--color);
  margin: 0;

  /* track */
  isolation: isolate; /* allows sorting track below thumb */
  &::before {
    display: block;
    position: absolute;
    border-radius: 100vh;
    content: '';
    left: 0;
    right: 0;
    top: calc(50% - 2px);
    background: linear-gradient(
      to right,
      #555,
      #555 var(--fill-percent),
      #3338 var(--fill-percent)
    );
    height: 4px;
    z-index: -1;
  }
}
