.label {
  display: contents;
  color: var(--color);

  &:hover,
  &:focus-within {
    --color: white;
  }
}

.value {
  justify-self: end;
}

.slider {
  appearance: none;
  background: transparent;
  outline: none;
  position: relative;
  accent-color: var(--color);
  margin: 0;

  /* when scrolling into view on change, how much to over-scroll */
  scroll-margin-block: 8rem;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 100vh;
    cursor: pointer;
    background: linear-gradient(
      to bottom,
      var(--color),
      oklab(from var(--color) calc(l * 0.75) a b)
    );
  }

  /* track */
  isolation: isolate; /* allows sorting track below thumb */
  &::before {
    display: block;
    position: absolute;
    border-radius: 100vh;
    content: '';
    left: 0;
    right: 0;
    top: calc(50% - 2px);
    background: linear-gradient(
      to right,
      #555,
      #555 var(--fill-percent),
      #3338 var(--fill-percent)
    );
    height: 4px;
    z-index: -1;
  }
}
